@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --amarelo: #c2c521;
  --vermelho: #e75353;
  --azul: #2432f0;
  --cinza: #adacac;
}

@theme inline {
  --color-vermelho: var(--vermelho);
  --color-amarelo: var(--amarelo);  
  --color-azul: var(--azul);
  --color-cinza: var(--cinza);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


